body {
  font-family: sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  color: #fff;
  background-color: #222;
}

header, section, footer {
  margin-bottom: 2rem;
}

header {
  text-align: center;
}

.buttons a {
  margin: 0.25rem;
  padding: 0.5rem 1rem;
  background: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

a {
  color: #069cff;
}

img {
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

#experience ul li p {
  margin-left: 20px;
}

.project {
  background: #333;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

form button {
  background: #007acc;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

input,
textarea {
  background-color: #444;
  color: #fff;
  box-sizing: border-box;
  display: block;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: inherit;
  resize: vertical;
  min-width: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}